.idea
.idea/*
*/.idead/*
simplimic/__pycache__/*
simplimic/__pycache__
__pycache__/*
db.sqlite3
simplimicapp/__pycache__/*
simplimicapp/__pycache__
simplimicapp/migrations/000*
simplimicapp/migrations/__pycache__
simplimicapp/migrations/__pycache__/*
bak.*
playground*
cluster_init.sh
